@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 3px;
    height: auto;
}

::-webkit-scrollbar-track {
    background: #1d1d1d;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #868686;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@layer components {
    section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
}